*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color :#fff;
}
h1
{
    font-size: 48px;
    margin-bottom: 40px;
    letter-spacing: 1.5px;
    text-align: center;
}
.countdown
{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
    padding: 50px 30px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    
}
.timer
{
    background-color: rgba(255, 255, 255, 0.15);
    padding: 30px;
    margin: 0 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100px;
    max-width: 160px;
    height: 100%;
    transition: background-color: rgba(255, 255, 255, 0.15) ease-in-out;
}
.timer .time
{
    font-size: 48px;
    font-weight: 700;
}
.timer .label
{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px #fff;
}
.timer:hover
{
    background-color: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width:1024px){
    h1 
    {
        font-size: 38px;
    }

    .countdown
    {
    flex-wrap: wrap;
    }
    .timer
    {
        max-height: 150px;
        margin: 20px;
    }
    body 
    {
        background-size: cover;
    }

}